.container-fluid

  %h1{:class => "display-3 mx-auto p-4"} Product Upload

  = form_with model: @product do |f|
    = f.file_field :product_csv, class: "form-control-file pb-4"  
    = f.submit "Save", class: "btn btn-primary" 